<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
      <conformanceWarnings>
        <remove name="BasicProfile1_1"/>
      </conformanceWarnings>
    </webServices>
    <compilation debug="true" targetFramework="4.5.1" batch="false">
      <assemblies>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime enableVersionHeader="false" targetFramework="4.5" requestValidationMode="2.0"/>
    <machineKey decryptionKey="2EA707D64DB6EF944BEE4E7B68644CA558775EF7CB9C4146" validationKey="0B20A5D95CABC3FB56C40A694E9C94992C8970A9B300D050DC9EF62465AEB6A5A727E4491AB6E9632A94CF8E0AF4B83E75C9BBF8B314B2507ECD767AC25BAFF1"/>
    <pages validateRequest="false" clientIDMode="Static" buffer="true" enableViewStateMac="true" viewStateEncryptionMode="Always" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0"/>
    <sessionState timeout="15" mode="InProc" cookieless="UseCookies"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="MongoServer" connectionString="mongodb://macservices:!macservices@corp.mobileauthcorp.com:27017"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="MongoDbName" value="MAC_R1_Terry"/>
    <!--<add key="MongoDbNameCentral" value="SecureTrading"/>-->
    <!-- Connection Pool Settings - Connections -->
    <add key="ConnectionTimeoutSeconds" value="2"/>
    <add key="MinDBConnections" value="1000"/>
    <add key="MaxDBConnections" value="20000"/>
    <add key="ConnectionMode" value="Automatic"/>
    <add key="ReadPreference" value="Nearest"/>
    <add key="WriteConcern" value="Acknowledged"/>
    <add key="ReplicaSetName" value="rs1"/>
    <add key="BackgroundIndex" value="true"/>
    <add key="SparseIndex" value="true"/>
    <!-- AWS load testing options-->
    <add key="UseStaggeredRequestTimers" value="false"/>
    <add key="AutoRetryCount" value="0"/>
    <add key="MinWaitSecs" value="1"/>
    <add key="MaxWaitSecs" value="1"/>
    <!-- Email Settings -->
    <add key="Port" value="25"/>
    <add key="Host" value="services.mobileauthcorp.com"/>
    <add key="EnableSsl" value="false"/>
    <add key="UseDefaultCredentials" value="false"/>
    <add key="LoginUserName" value="info@services.mobileauthcorp.com"/>
    <add key="LoginPassword" value="jumP4000c"/>
    <!-- Base Url for ST-1 servers -->
    <add key="STServicesUrl" value="https://oprcore-cert.securetradinginc.net/securetrading/opr/"/>
    <!--<add key="StWrapperServiceUrl" value="http://localhost/STAPI/Service.svc/"/>-->
    <add key="StWrapperServiceUrl" value="http://localhost/STAPI/STServices.asmx/"/>
    <add key="MacServicesUrl" value="http://localhost/macservices"/>
    <!-- ================== Debug Settings =============== -->
    <!-- Overall debug flag -->
    <add key="Debug" value="false"/>
    <add key="LogFileRootPath" value="c:/_WrapperServiceLog"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate"/>
    <!-- Security rules engine. Need to write rules to eliminate XSS, replay and other attacks -->
    <ModSecurity enabled="true" configFile="C:\Program Files\ModSecurity IIS\modsecurity_iis.conf"/>
  </system.webServer>
  <!--<system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="STServicesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="STServices">
        <endpoint address="" behaviorConfiguration="STServicesAspNetAjaxBehavior" binding="webHttpBinding" contract="STServices" />
      </service>
    </services>
  </system.serviceModel>-->
  <!--<system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WCFWrapperService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="IWCFWrapperService" behaviorConfiguration="EndPointBehavior" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          -->
  <!--<enableWebScript />-->
  <!--
          -->
  <!-- removes the wrapper on outbound json -->
  <!--
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
</configuration>