<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<section name="SystemsUnderTestSection" type="A.WebConfigSection,A,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- Main Services Server (In Office) -->
    <add name="MongoServer" connectionString="mongodb://macservices:!macservices@corp.mobileauthcorp.com:27017" />
    <!-- Central Documentation Server -->
    <!--<add name="DocumentationServer" connectionString="mongodb://macservices:!macservices@54.191.93.77:27017" />-->
    <add name="DocumentationServer" connectionString="mongodb://macservices:!macservices@corp.mobileauthcorp.com:27017" />
    <!-- Main Services Server (AWS) -->
    <!--<add name="MongoServer" connectionString="mongodb://macservices:!macservices@172.31.37.171:27017" />-->
    <!--<add name="MongoServer" connectionString="mongodb://macservices:!macservices@54.191.93.77:27017" />-->
    <!--<add name="MongoServer" connectionString="mongodb://localhost:27019" />-->
  </connectionStrings>
  <appSettings>
    <!-- ============= Database  =============== -->
    <!-- Documentation Database -->
    <add key="MongoDbDocumentDBName" value="MAC_R1_OperationalTestArchive" />
    <!-- Test System -->
    <add key="TestSystemName" value="TerryDev" />
    <add key="ProcessingLogFile" value="C:\ProcessingLogFile" />
    <add key="ProcessingFolder" value="C:\OperationalTestsResults" />
    <add key="ArchiveFolder" value="C:\ArchiveFolder" />

    <!-- Email Settings -->
    <add key="Port" value="25" />
    <add key="Host" value="services.mobileauthcorp.com" />
    <add key="EnableSsl" value="false" />
    <add key="UseDefaultCredentials" value="false" />
    <add key="LoginUserName" value="info@services.mobileauthcorp.com" />
    <add key="LoginPassword" value="idFj01&amp;1" />
    <add key="FromAddress" value="info@services.mobileauthcorp.com" />
    <!-- System Under Test -->
    <add key="SystemUnderTest" value="Localhost" />
    <add key="SUT_ResultsFolder" value="C:\RobotTests\OperationalTests\OperationalTest_results" />
    <add key="SUT_AdminEmail" value="tdavis@mobileauthcorp.com"/>

  </appSettings>

</configuration>