<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.0" />-->
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <!-- Security rules engine. Need to write rules to eliminate XSS, replay and other attacks -->
    <ModSecurity enabled="true" configFile="C:\Program Files\ModSecurity IIS\modsecurity_iis.conf" />
  </system.webServer>
</configuration>