<?xml version="1.0"?>
<configuration>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Default.aspx" protection="All" timeout="15" name="MAC_R1" requireSSL="false" slidingExpiration="true" defaultUrl="~/Admin/Users/MyAccount/Default.aspx" cookieless="UseCookies" enableCrossAppRedirects="false"/>
    </authentication>
    <membership defaultProvider="MACOTPSystem" userIsOnlineTimeWindow="15">
      <providers>
        <add name="MACOTPSystem" type="MongoDB.Web.Providers.MongoDbMembershipProvider, MongoDB.Web, Version=1.0.1.0, Culture=neutral, PublicKeyToken=null" applicationName="MACOTPSystem" connectionStringName="MongoServer" enablePasswordReset="true" enablePasswordRetrieval="true" passwordFormat="Encrypted" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <machineKey decryptionKey="2EA707D64DB6EF944BEE4E7B68644CA558775EF7CB9C4146" validationKey="0B20A5D95CABC3FB56C40A694E9C94992C8970A9B300D050DC9EF62465AEB6A5A727E4491AB6E9632A94CF8E0AF4B83E75C9BBF8B314B2507ECD767AC25BAFF1"/>
    <pages validateRequest="false" clientIDMode="Static" buffer="true" enableViewStateMac="false" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0"/>
    <sessionState timeout="10" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <connectionStrings>
    <remove name="MongoServer"/>
    <!-- Main Services Server (In Office) -->
    <!--<add name="MongoServer" connectionString="mongodb://macservices:!macservices@corp.mobileauthcorp.com:27017" />-->
    <!-- Main Services Server (AWS) -->
    <add name="MongoServer" connectionString="mongodb://macservices:!macservices@mongolan1.mobileauthcorp.net:27017" />
    <!--<add name="MongoServer" connectionString="mongodb://macservices:!macservices@54.191.93.77:27017" />-->
    <!--<add name="MongoServer" connectionString="mongodb://localhost:27019" />-->
  </connectionStrings>
  
  <appSettings>
    <!-- ============= Database  =============== -->
    
    <!-- Connection Pool Settings - Connections -->
    <add key="ConnectionTimeoutSeconds" value="2" />
    <add key="MinDBConnections" value="1000" />
    <add key="MaxDBConnections" value="20000" />

    <!-- 
      ConnectionMode Options: Automatic, Direct, ReplicaSet, ShardRouter
      ReadPreferenceMode Options: Nearest, Primary, PrimaryPreferred, Secondary, SecondaryPreferred 
      WriteConcern Options: Acknowledged, Unacknowledged
    -->
    
    <add key="ConnectionMode" value="Automatic" />
    <add key="ReadPreference" value="Nearest" />
    <add key="WriteConcern" value="Acknowledged" />   
    <add key="ReplicaSetName" value="rs1" />
    <add key="BackgroundIndex" value="true" />
    <add key="SparseIndex" value="true" />
    
    <!-- AWS load testing options-->
    <add key="UseStaggeredRequestTimers" value="false" />
    <add key="AutoRetryCount" value="0" />
    <add key="MinWaitSecs" value="1" />
    <add key="MaxWaitSecs" value="1" />
    
    <!-- Active System Database -->
    <add key="MongoDbName" value="MAC_R1_Test" />

    <!-- ============= Runtime Settings =============== -->
    <!-- These are the browser hooks for Visual Studio. It creates calls to localhost:53020/82420e2d3c7545f88f196f2069974532/arterySignalR/connect. Causing problems with JQuery and bogging down the application -->
    <add key="vs:EnableBrowserLink" value="false" />

    <!-- what is this for -->
    <add key="UseClientService" value="true" />
    
    <!-- Initialize user clientid list on application start -->
    <add key="InitUserClientIdList" value="true"/>
    
    <!-- false=(normal)Call Ads server, true=(testing)Use the following Url-->
    <add key="MacTestAdServiceUrl" value="http://localhost"/>
    <!--Base Url where MAC's Open Access Services are running -->
    <add key="MacOpenServicesUrl" value="http://localhost/MACServices"/>
    <!-- Base Url where MAC's OTP and Registration Services are running -->
    <add key="MacServicesUrl" value="http://localhost/MACServices"/>
    <!--<add key="MacServicesUrl" value="http://services.mobileauthcorp.com" />-->
    <!-- Registration Upload Folder, Note: must exists on Server where MAC's registration service is running -->
    <add key="RegistrationFileUploadSubFolder" value="\temp"/>
    <!-- Message Providers - Note: must be full URL to service -->
    <add key="TwilioAPIService" value="http://localhost/MACServices/Otp/TwilioAPIService.asmx/WsTwilioAPIService"/>
    <add key="MessageBroadcastAPIService" value="http://localhost/MACServices/Otp/MessageBroadcastAPIService.asmx/WsMessageBroadcastAPIService"/>
    <!-- Verification Providers -->
    <add key="UserVerificationLexisNexisDebugOptions" value="LogRequestLogResponse"/>
    <add key="UserVerificationLexisNexisLogToFile" value="c:\temp\"/>

    <!-- ================== Debug Settings =============== -->    
    <!-- Overall debug flag -->
    <add key="Debug" value="true"/>
    
    <!-- message delivery loop back test settings -->
    <add key="LoopBackTest" value="NoSend"/>
    <!-- Where:
      Disabled = Normal operation
      NoSend  = don't send to message delivery, just return successfully,
      StartThread = don't send to message delivery, Start thread to call ValicateOTP service,
    -->
    
    <!-- ========= How to process ad requests ================= -->
    <!-- SecureAds = Call Secure Ads Server -->
    <!--<add key="AdServerDomain" value="SecureAds"/>-->
    
    <!-- use test ad service target ads in AWS domain -->
    <add key="AdServerDomain" value="http://www.otp-ap.us"/>

    <!-- use test ad service target ads on MAC’s office server -->
    <!--<add key="AdServerDomain" value="http://www.otp-ap.com"/>-->

    <!-- Local testing use test ads in demos project -->
    <!--<add key="AdServerDomain" value="http://localhost/Demos"/>-->

    <!-- Do not send ads -->
    <!--<add key="AdServerDomain" value="NoAds"/>-->
    <!-- ======================================================= -->
    
    <!-- Event Log Service request data -->
    <!-- The following codes have to be in the value to turn on the logging for the service:
    Keys are DebugLogRequests and DebugLogResponses and EmailServiceLog
    example: <add key="DebugLogRequests" value="RO,RV"/> 
              Will log requests for both RequestOTP and VerifyOTP services
    Note: settings are case sensitive.
              
    RequestOTP=RO
    VerifyOTP=VO
    MessageBroadcastAPIService=MB
    TwilioAPIService=TW
    UserVerificationWhitePagesPro=WP
    UserVerificationLexisNexis=LN
    EndUserRegistration=UR
    EndUserCompleteRegistration=CR
    EndUserFileRegistration=FR
    EndUserManagement=UM
    StsEndUserRegistration=SR
    OpenEndUserServices=OU
    OpenClientServices=OC
    EventHistory=EH
    EventHistory1=EH1
    EventHistoryStats=ES
    EventLog=EL
    SystemStats=SS
    ManageTypeDefsService=MT
    GroupInfo=GI
    ClientServices=CS
    RegisterProviders=RP
    
    EmailServiceLog=EL
    TestAdService=TA
    EventLogTests=ET
    GetClients=GC
    GetTestLoginInfo=LI
    MacTestBank=TB
    RegisterClients=RC
    RegisterProviders=RP
    
    All enabled=true
    All disabled=false
    -->
    <add key="DebugLogRequests" value="false"/>
    <!-- Event Log Service responce data -->
    <add key="DebugLogResponses" value="false"/>
    <!-- For debugging: return service error details to caller false(normal)=return error number only-->
    <add key="ReturnErrorDetails" value="true"/>
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate"/>
    <security>
      <authorization>
        <remove users="*" roles="" verbs=""/>
        <add accessType="Allow" users="*"/>
      </authorization>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <caching>
      <profiles>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>