<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SystemUnderTestUrl_localhost" value="http://localhost" />
    <add key="SystemUnderTestUrl_demo" value="http://demo.mobileauthcorp.com" />
    <add key="SystemUnderTestUrl_qa" value="http://qa.mobileauthcorp.com" />
    <add key="RegressionTestFolder" value="C:\_RegressionTest" />
    <add key="PathToRegressionTest" value="C:\Development_OTP_System\MAC-OTP-System\Dev\R1.0\QA\MAC_TestCases" />
  </appSettings>
</configuration>