<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>

      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
        </protocols>
      </webServices>

      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

  <appSettings>
    <!--<add key="RegressionTestDir" value="C:\_RegressionTest" />
    <add key="RegressionTestScriptsDir" value="C:\_RegressionTest\MAC_TestCases" />-->

    <add key="RegressionTestScriptsDir" value="TestCases" />
    <add key="RegressionTestResultsDir" value="Results" />

    <add key="RunTestServiceUri" value="http://localhost/WebSystemTests/RunTestService.asmx/WsRunTestService" />
    <add key="DatabaseBackupScriptName" value="MAC_SysMngt_DatabaseBackup" />
    <add key="DatabaseRestoreScriptName" value="MAC_SysMngt_DatabaseRestore" />
  
    <add key="TargetServers" value="
         localhost~mongodb://macservices:!macservices@corp.mobileauthcorp.com:27017~MAC_R1
         |test-integration.mobileauthcorp.net~mongodb://macservices:!macservices@172.31.37.171:27017~MAC_R1_Test_Integration
         |test-load.mobileauthcorp.net~mongodb://macservices:!macservices@172.31.37.171:27017~MAC_R1_Test_Load
         |qa.mobileauthcorp.net~mongodb://macservices:!macservices@172.31.37.171:27017~MAC_R1_QA
         |production-staging.mobileauthcorp.net~mongodb://macservices:!macservices@172.31.37.171:27017~MAC_R1_Production_Staging
         |demo.mobileauthcorp.net~mongodb://macservices:!macservices@172.31.37.171:27017~MAC_R1_Demo
         " />

  </appSettings>
  
</configuration>
