/** { 
	margin: 0; 
	padding: 0; 
}

#page-wrap {
	margin: 50px;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
	width: 100%;
	border-collapse: collapse;
    /*border:1px solid #b3b3b3 !important;*/
	/*background-color: #b3b3b3 !important;*/
}

td:nth-child(1) {
    /*text-align: center !important;*/
    padding-left: 0.5rem !important;
    border-left: none !important;
}
td:nth-child(2) {
    white-space: nowrap !important;
    position: relative;
    /*border-right: 1px solid #f00;*/
}
/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #fff; 
}
tr:nth-of-type(even) { 
	background: #efefef !important; 
}
th { 
	background: #efefef; 
	color: #222; 
	font-weight: bold;
    border-left: 1px solid #b3b3b3;
}
th:nth-child(1) {    
    border-left: none !important;
}
td, th {
	padding: 8px 6px 6px !important;
	text-align: left; 
}
td:nth-of-type(even) { 
	/*border-left: 1px solid #b3b3b3;*/
}
td {
    border-top: 1px solid #b3b3b3;
    max-width: 800px !important;
    word-break: normal !important;
    word-wrap: break-word !important;
    white-space: normal !important;
    border-left: 1px solid #b3b3b3;
}



/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    /*table, thead, tbody, th, td, tr { 
			display: block; 
		}*/



        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr {
            display: block !important;
		}

        /* mobile spacing */
        tr:nth-of-type(odd) {
            padding: 6px 0 10px;
            border-top: 1px solid #b3b3b3;
        }

        tr:nth-of-type(even) {
            padding: 6px 0 10px;
            border-top: 1px solid #b3b3b3;
        }

        td {
            /* Behave  like a "row" */
            display: block !important;
            border-top: none !important;
            position: relative;
            padding: 0 0.5rem !important;
            word-break: break-all !important;
            border-left: none;
        }

        td:nth-child(1) {
            padding: 0 0.5rem !important;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0.5rem;
            left: 0.5rem;
            width: 45%;
            padding-right: 0.625rem;
            white-space: nowrap;
        }

        td:nth-of-type(even) {
            border-left: none;
        }

        td:nth-child(2) {
            white-space: nowrap !important;
            position: relative;
            border-right: none !important;
        }

        tr:nth-child(1) {
            border-top: none !important;
        }

    /*
Label the data
*/
    /*td:nth-of-type(1):before { content: "Date"; }
td:nth-of-type(2):before { content: "Details"; }
}*/

    /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        body {
            padding: 0;
            margin: 0;
            width: 320px;
        }
    }

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body {
            width: 495px;
        }
    }
}