<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<section name="SystemsUnderTestSection" type="A.WebConfigSection,A,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- Main Services Server (In Office) -->
    <add name="MongoServer" connectionString="mongodb://macservices:!macservices@corp.mobileauthcorp.com:27017" />
    <add name="OperationalTestServer" connectionString="mongodb://macservices:!macservices@corp.mobileauthcorp.com:27017" />
    <!-- Main Services Server (AWS) -->
    <!--<add name="OperationalTestServer" connectionString="mongodb://macservices:!macservices@54.191.93.77:27017" />-->
  </connectionStrings>
  <appSettings>
    <!-- MAC Services Database -->
    <add key="MongoDbName" value="MAC_R1_Terry" />
    <!-- Operational Test Database -->
    <add key="MongoDbOperationalTestDBName" value="MAC_R1_OperationalTest" />
    
    <!-- Test System -->
    <add key="TestSystemName" value="TerryDev" />
    <add key="ProcessingLogFolder" value="C:\_ProcessingLogs" />
    <add key="ProcessingFolder" value="C:\_OperationalTestsResults" />
    <add key="SystemUnderTestToIgnore" value="None" />
    
    <add key="mode" value="auto" />
    <!-- Set to NoSend to disable notifications -->
    <add key="SendMode" value="NoSend"/>
    <!-- Manuel mode settings -->
    <add key="SystemUnderTest4ManuelMode" value="Local Host" />
    <add key="TestConfigName4ManuelMode" value="Admin UI" />
    <add key="TestResultsPassedFolder4ManuelMode" value="Passed_OperationalTest_results" />
    <add key="TestResultsFailedFolder4ManuelMode" value="Failed_OperationalTest_results" />
  </appSettings>
</configuration>