<?xml version="1.0"?>
<configuration>
  <system.web>
    <authentication mode="None"/>
    <customErrors mode="On">
      <error statusCode="404" redirect="~/redirect.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
    <trust level="Full" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
  <appSettings>
    <add key="TestAdsClients" value="M:MAC Test|A:Avenue B|T:TNS|S:STS|G:Scottsdale Golf Shop|H:Scottsdale Golf Store|B:MAC Test Bank|C:MAC Test Bank"/>
    <add key="Logging" value="True"/>
  </appSettings>
  
  <system.webServer>
    <!-- Security rules engine. Need to write rules to eliminate XSS, replay and other attacks -->
    <ModSecurity enabled="true" configFile="C:\Program Files\ModSecurity IIS\modsecurity_iis.conf" />
    
  </system.webServer>
  
</configuration>