<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net451" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net451" />
  <package id="elmah.mongodb" version="1.7" targetFramework="net451" />
  <package id="jQuery" version="3.1.1" targetFramework="net451" />
  <package id="mongocsharpdriver" version="2.4.3" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.4.3" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.4.3" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.4.3" targetFramework="net451" />
  <package id="MongoDB.Driver.GridFS" version="2.4.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
</packages>