<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wcfSmartConnect" closeTimeout="10:01:00"
                 maxBufferSize="104857600" maxBufferPoolSize="104857600"
                 maxReceivedMessageSize="104857600" openTimeout="10:01:00"
                 receiveTimeout="10:10:00" sendTimeout="10:01:00"
                 messageEncoding="Mtom" transferMode="StreamedRequest">
          <readerQuotas maxDepth="104857600" maxStringContentLength="104857600"
                        maxArrayLength="104857600" maxBytesPerRead="104857600"
                        maxNameTableCharCount="104857600" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService11" closeTimeout="01:00:00"
                 openTimeout="01:00:00" receiveTimeout="01:00:00"
                 sendTimeout="01:00:00" bypassProxyOnLocal="false"
                 transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="1048576000" maxReceivedMessageSize="1048576000"
                 messageEncoding="Text" textEncoding="utf-8"
                 useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="104857600" maxStringContentLength="104857600"
                        maxArrayLength="104857600" maxBytesPerRead="1048576000"
                        maxNameTableCharCount="104857600" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Windows"
                       proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows"
                     negotiateServiceCredential="true" algorithmSuite="Default"
                     establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="WSHttpBinding_IService11"
          address="http://abc.com/API/serv.svc"
          binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IService11"
          contract="SmartConnectRepublic.IService1" >
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint name="BasicHttpBinding_IService1"
          address="http://localhost:4649/Service1.svc"
          binding="basicHttpBinding"
          bindingConfiguration="wcfSmartConnect"
          contract="SmartConnect.IService1" />
    </client>
  </system.serviceModel>
</configuration>